/.idea/.idea.EXILED/.idea/.name
/.idea/.idea.EXILED/.idea/vcs.xml
/.idea/.idea.EXILED/.idea/contentModel.xml
/EXILED_Main/.idea/.idea.ModuleLoader.dir/.idea/contentModel.xml
/.idea/.idea.EXILED/.idea/discord.xml
/EXILED_Main/.idea/.idea.ModuleLoader.dir/.idea/discord.xml
/EXILED.sln.DotSettings.user
/.idea/.idea.EXILED/.idea/indexLayout.xml
/EXILED_Main/.idea/.idea.ModuleLoader.dir/.idea/indexLayout.xml
/.idea/.idea.EXILED/.idea/modules.xml
/EXILED_Main/.idea/.idea.ModuleLoader.dir/.idea/modules.xml
/.idea/.idea.EXILED/riderModule.iml
/EXILED_Main/.idea/.idea.ModuleLoader.dir/.idea/projectSettingsUpdater.xml
/.idea/.idea.EXILED/.idea/projectSettingsUpdater.xml
/EXILED_Main/.idea/.idea.ModuleLoader.dir/riderModule.iml
/EXILED_Main/.idea/.idea.ModuleLoader.dir/.idea/workspace.xml
/.idea/.idea.EXILED/.idea/.gitignore
/bin/EXILED/0Harmony.dll
/bin/EXILED/Assembly-CSharp-firstpass.dll
/bin/EXILED/Assembly-CSharp_publicized.dll
/bin/EXILED/BouncyCastle.Crypto.dll
/bin/EXILED/DissonanceVoip.dll
/bin/EXILED/EXILED.dll
/EXILED_Main/obj/Debug/EXILED.dll
/bin/EXILED/EXILED.pdb
/EXILED_Main/obj/Debug/EXILED.pdb
/EXILED_Events/obj/Debug/EXILED_Events.csproj.CopyComplete
/EXILED_Events/obj/Debug/EXILED_Events.csproj.FileListAbsolute.txt
/bin/EXILED/EXILED_Events.dll
/EXILED_Events/obj/Debug/EXILED_Events.dll
/bin/EXILED/EXILED_Events.pdb
/EXILED_Events/obj/Debug/EXILED_Events.pdb
/EXILED_Main/obj/Debug/EXILED_Main.csproj.CopyComplete
/EXILED_Main/obj/Debug/EXILED_Main.csproj.FileListAbsolute.txt
/bin/EXILED/Facepunch.Steamworks.Win64.dll
/bin/EXILED/Mirror.Authenticators.dll
/bin/EXILED/Mirror.Components.dll
/bin/EXILED/Mirror.dll
/bin/EXILED/Mono.Nat.dll
/bin/EXILED/Newtonsoft.Json.dll
/bin/EXILED/System.Diagnostics.StackTrace.dll
/bin/EXILED/System.Globalization.Extensions.dll
/bin/EXILED/Unity.TextMeshPro.dll
/bin/EXILED/UnityEngine.AIModule.dll
/bin/EXILED/UnityEngine.AndroidJNIModule.dll
/bin/EXILED/UnityEngine.AnimationModule.dll
/bin/EXILED/UnityEngine.AssetBundleModule.dll
/bin/EXILED/UnityEngine.AudioModule.dll
/bin/EXILED/UnityEngine.CoreModule.dll
/bin/EXILED/UnityEngine.DirectorModule.dll
/bin/EXILED/UnityEngine.dll
/bin/EXILED/UnityEngine.GridModule.dll
/bin/EXILED/UnityEngine.IMGUIModule.dll
/bin/EXILED/UnityEngine.InputLegacyModule.dll
/bin/EXILED/UnityEngine.InputModule.dll
/bin/EXILED/UnityEngine.Networking.dll
/bin/EXILED/UnityEngine.ParticleSystemModule.dll
/bin/EXILED/UnityEngine.Physics2DModule.dll
/bin/EXILED/UnityEngine.PhysicsModule.dll
/bin/EXILED/UnityEngine.ScreenCaptureModule.dll
/bin/EXILED/UnityEngine.SharedInternalsModule.dll
/bin/EXILED/UnityEngine.SubsystemsModule.dll
/bin/EXILED/UnityEngine.TerrainModule.dll
/bin/EXILED/UnityEngine.TerrainPhysicsModule.dll
/bin/EXILED/UnityEngine.TextCoreModule.dll
/bin/EXILED/UnityEngine.TextRenderingModule.dll
/bin/EXILED/UnityEngine.TilemapModule.dll
/bin/EXILED/UnityEngine.UI.dll
/bin/EXILED/UnityEngine.UIElementsModule.dll
/bin/EXILED/UnityEngine.UIModule.dll
/bin/EXILED/UnityEngine.UNETModule.dll
/bin/EXILED/UnityEngine.UnityAnalyticsModule.dll
/bin/EXILED/UnityEngine.UnityWebRequestAudioModule.dll
/bin/EXILED/UnityEngine.UnityWebRequestModule.dll
/bin/EXILED/UnityEngine.UnityWebRequestWWWModule.dll
/bin/EXILED/UnityEngine.VFXModule.dll
/bin/EXILED/UnityEngine.VideoModule.dll
/bin/EXILED/UnityEngine.VRModule.dll
/bin/EXILED/UnityEngine.XRModule.dll
/bin/EXILED/zxing.unity.dll
