/.idea/.idea.EXILED/.idea/.name
/.idea/.idea.EXILED/.idea/vcs.xml
/.idea/.idea.EXILED/.idea/contentModel.xml
/EXILED_Main/.idea/.idea.ModuleLoader.dir/.idea/contentModel.xml
/.idea/.idea.EXILED/.idea/discord.xml
/EXILED_Main/.idea/.idea.ModuleLoader.dir/.idea/discord.xml
/EXILED.sln.DotSettings.user
/.idea/.idea.EXILED/.idea/indexLayout.xml
/EXILED_Main/.idea/.idea.ModuleLoader.dir/.idea/indexLayout.xml
/.idea/.idea.EXILED/.idea/modules.xml
/EXILED_Main/.idea/.idea.ModuleLoader.dir/.idea/modules.xml
/.idea/.idea.EXILED/riderModule.iml
/EXILED_Main/.idea/.idea.ModuleLoader.dir/.idea/projectSettingsUpdater.xml
/.idea/.idea.EXILED/.idea/projectSettingsUpdater.xml
/EXILED_Main/.idea/.idea.ModuleLoader.dir/riderModule.iml
/EXILED_Main/.idea/.idea.ModuleLoader.dir/.idea/workspace.xml
/.idea/.idea.EXILED/.idea/.gitignore
